

body{
	
  	background:url(image/car1.png);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
	background-repeat: no-repeat;
	

}
.main_content .right{
	padding:0;
	
}
.right img{
	width:200px;
	height:200px;
	margin-left:;
	margin-right:1290;
	margin-bottom:100px;
	margin-top:-880px;

}

nav {
    
   
    justify-content: space-between;
    margin-left: 860px;
    margin-bottom: 30px;
    margin-top: 70px;
    padding: 0.4rem;      
    list-style: none;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);          
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
ul{
	list-style:none;
	
}
ul li {
    gap:8em;
    display: inline-block;
    margin-right:-40px; 
    padding-top:-10px;
    width: 145px;
    height:0;
    opacity: 0.9;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    transition: 0.8s;
    
    
} 
ul li:hover{
	color:#ffffff;
}
ul li a{
	text-decoration:none;
	color:white;
	background-color:none;
	padding:5px 10px;
	transition:0.3s ease;
	border-radius:30px;
}
ul li a:hover{
	background-color:#ffdf00;
	box-shadow:0 0 25px  #ffdf00;

}
ul li ul li{
	display:none;
}
ul li:hover ul li{
	display:block;
}
.main_content .left{
	width:50%;
	height:50%;
}
.left h1{
	text-align:fixed;
	font-size: 55px;
	font-weight: 600;
	margin-bottom:20px;
	margin-left:300px;
	line-height:60px;
	color:white;
}
.left h1 span{
	color:gold;
}
.dropdown {
  position: relative;
}
 .dropdown-menu {
  position: absolute;
  top: 60px;

  right: -190px;
  width: 420px;
  padding: 24px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 24px;

  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.45);

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  background-color:black;
  color: white;
  font-size: 14px;
  transition: background 0.25s ease, color 0.25s ease;
}
.dropdown-menu li a:hover {
  background: rgba(255, 212, 0, 0.15);
  color: #ffd400;
  border-radius: 12px;
}
.btns{
	display:flex;	
}
.btn{
	padding: 0.5rem 1.5rem;
	border-radius: 30px;
	font-weight: 600;
	font-size: 1rem;
	background: #ffd700;
	color: #0f172a;
	box-shadow: 0 0 15px #c09f6a;
	border: none;
	cursor:pointer;
	transition:0.3s ease;
	margin-top:-10px;
	margin-bottom:10px;
	margin-left:40px;
}
.btn:hover{
	background: #ffdf00;
	box-shadow: 0 0 25px  #ffdf00;
}
.container {
	max-width: 1200px; 
	margin: auto; 
	text-align: center; 
	background-color: rgba(0, 0, 0, 0.5);
	border-radius:30px;
	
} 
h1 { 
	font-family: 'Montserrat', san-serif;
	margin-bottom: 40px; 
	padding-top:20px;
	color:white; 
}
 .card-wrapper { 
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center; 
	gap: 30px; 
}
.card {
background: linear-gradient(
  135deg,
  #6b1f4e,
  #8a2f6d,
  #5a1b4f
); 
	border-radius: 12px; 
	box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
	padding: 20px; 
	width: 300px; 
	transition: transform 0.3s ease;
 } 
.card:hover { 
	transform: translateY(-5px); 
} 
.card img { 
	width: 100%; 
	border-radius: 8px; 
	margin-bottom: 15px; 
	
} 
.paragraph h1{
	font-family:'Roboto', sans-serif;
	color:black;
	font-size:13px;
	font-weight:400;
	padding:0;
}
.card h2 { 
	color: black; 
	margin-bottom: 10px; 
	font-family: 'Montserrat', san-serif;
}
h2{
	font-family: 'Montserrat', san-serif;
	
}
.tags {
	display: block;
  	gap: 10px;
  	flex-wrap: wrap;
  	margin-bottom: 24px;
}

.tags span {
  	font-size: 12px;
  	padding: 6px 12px;
  	background: #d4d4d4;
  	border-radius: 8px;
}
.letter{
	color:white;
	margin-bottom: 10px; 

}
.specs div {
  	margin-bottom: 18px;
	display: grid;
	color:black;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 40px;
	text-align: center;
}

.specs strong {
  	font-size: 22px;
	font-weight:600;
  	display: block;
}

.specs p {
	
  	font-size: 13px;
  	color: black;
	margin-top:4px;
}
.buttons button { 
	background: #000;
	color: #fff; 
	border: none; 
	padding: 10px 16px; 
	margin: 5px; 
	border-radius: 6px;
 	cursor: pointer; 
	font-weight: bold; 
} 
.buttons button:hover { 
	background-color: #a00; 
}
.modal {
  	position: fixed;
  	inset: 0;
  	background: rgba(0, 0, 0, 0.65);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	opacity: 0;
  	pointer-events: none;
  	transition: 0.3s ease;
  	z-index: 9999;
}


.modal:target {
  	opacity: 1;
  	pointer-events: auto;
}


.modal-content {
    background-color:rgba(211, 211, 211, 0.9);
  	width: 600px;
  	padding: 25px;
  	border-radius: 20px;
  	text-align: center;
  	position: relative;
  	animation: zoom 0.3s ease;
}


.modal-img {
  	width: 100%;
  	border-radius: 12px;
 	margin-bottom: 15px;
}


.close {
  	position: absolute;
  	top: 12px;
  	right: 18px;
  	font-size: 26px;
  	text-decoration: none;
  	color: #000;
}


.modal-btn {
  	display: inline-block;
  	margin-top: 15px;
  	padding: 12px 25px;
  	background: black;
  	color: white;		
	border-radius: 8px;
  	text-decoration: none;
}


.select-model {
  	padding: 10px 16px;
  	background: black;
  	color: white;
  	border-radius: 6px;
  	text-decoration: none;
  	display: inline-block;
}

@keyframes zoom {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.slider {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.slider input {
  display: none;
}

.slider .slides {
  position: relative;
  height:300px;
}


.slider .slide {
 position: absolute;
 top:0;
 left:0;
  width: 100%;
  border-radius: 12px;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.5s ease-in-out;
}
#pm1:checked ~ .slides .pm1,
#pm2:checked ~ .slides .pm2,
#pm3:checked ~ .slides .pm3,
#pm4:checked ~ .slides .pm4,
#pm5:checked ~ .slides .pm5,
#pm6:checked ~ .slides .pm6,
#pm7:checked ~ .slides .pm7, 
#pm8:checked ~ .slides .pm8 {
  opacity: 1;
  pointer-event:auto;
  z-index: 1;
}
#p4m1:checked ~ .slides .p4m1,
#p4m2:checked ~ .slides .p4m2,
#p4m3:checked ~ .slides .p4m3,
#p4m4:checked ~ .slides .p4m4,
#p4m5:checked ~ .slides .p4m5,
#p4m6:checked ~ .slides .p4m6,
#p4m7:checked ~ .slides .p4m7, 
#p4m8:checked ~ .slides .p4m8 {
  opacity: 1;
  pointer-event:auto;
  z-index: 1;
}
#p4em1:checked ~ .slides .p4em1,
#p4em2:checked ~ .slides .p4em2,
#p4em3:checked ~ .slides .p4em3,
#p4em4:checked ~ .slides .p4em4,
#p4em5:checked ~ .slides .p4em5,
#p4em6:checked ~ .slides .p4em6,
#p4em7:checked ~ .slides .p4em7, 
#p4em8:checked ~ .slides .p4em8 {
  opacity: 1;
  pointer-event:auto;
  z-index: 1;
}
#pmgts1:checked ~ .slides .pmgts1,
#pmgts2:checked ~ .slides .pmgts2,
#pmgts3:checked ~ .slides .pmgts3,
#pmgts4:checked ~ .slides .pmgts4,
#pmgts5:checked ~ .slides .pmgts5,
#pmgts6:checked ~ .slides .pmgts6,
#pmgts7:checked ~ .slides .pmgts7, 
#pmgts8:checked ~ .slides .pmgts8 {
  opacity: 1;
  pointer-event:auto;
  z-index: 1;
}
#pmteh1:checked ~ .slides .pmteh1,
#pmteh2:checked ~ .slides .pmteh2,
#pmteh3:checked ~ .slides .pmteh3,
#pmteh4:checked ~ .slides .pmteh4,
#pmteh5:checked ~ .slides .pmteh5,
#pmteh6:checked ~ .slides .pmteh6,
#pmteh7:checked ~ .slides .pmteh7, 
#pmteh8:checked ~ .slides .pmteh8 {
  opacity: 1;
  pointer-event:auto;
  z-index: 1;
}
#pmtseh1:checked ~ .slides .pmtseh1,
#pmtseh2:checked ~ .slides .pmtseh2,
#pmtseh3:checked ~ .slides .pmtseh3,
#pmtseh4:checked ~ .slides .pmtseh4,
#pmtseh5:checked ~ .slides .pmtseh5,
#pmtseh6:checked ~ .slides .pmtseh6,
#pmtseh7:checked ~ .slides .pmtseh7, 
#pmtseh8:checked ~ .slides .pmtseh8 {
  opacity: 1;
  pointer-event:auto;
  z-index: 1;
}

.slider .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  color: grey;
  font-size: 26px;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  display: none;
  z-index: 10;
  transition: 0.3s ease;
}

.slider .arrow:hover {

}

.slider .prev {
  left: 12px;
}

.slider .next {
  right: 12px;
}


#pm1:checked ~ .prev.pm1,
#pm1:checked ~ .next.pm1,
#pm2:checked ~ .prev.pm2,
#pm2:checked ~ .next.pm2,
#pm3:checked ~ .prev.pm3,
#pm3:checked ~ .next.pm3,
#pm4:checked ~ .prev.pm4,
#pm4:checked ~ .next.pm4,
#pm5:checked ~ .prev.pm5,
#pm5:checked ~ .next.pm5,
#pm6:checked ~ .prev.pm6,
#pm6:checked ~ .next.pm6,
#pm7:checked ~ .prev.pm7,
#pm7:checked ~ .next.pm7,
#pm8:checked ~ .prev.pm8,
#pm8:checked ~ .next.pm8
{
   display: block;
}
#p4m1:checked ~ .prev.p4m1,
#p4m1:checked ~ .next.p4m1,
#p4m2:checked ~ .prev.p4m2,
#p4m2:checked ~ .next.p4m2,
#p4m3:checked ~ .prev.p4m3,
#p4m3:checked ~ .next.p4m3,
#p4m4:checked ~ .prev.p4m4,
#p4m4:checked ~ .next.p4m4,
#p4m5:checked ~ .prev.p4m5,
#p4m5:checked ~ .next.p4m5,
#p4m6:checked ~ .prev.p4m6,
#p4m6:checked ~ .next.p4m6,
#p4m7:checked ~ .prev.p4m7,
#p4m7:checked ~ .next.p4m7,
#p4m8:checked ~ .prev.p4m8,
#p4m8:checked ~ .next.p4m8
{
   display: block;
}
#p4em1:checked ~ .prev.p4em1,
#p4em1:checked ~ .next.p4em1,
#p4em2:checked ~ .prev.p4em2,
#p4em2:checked ~ .next.p4em2,
#p4em3:checked ~ .prev.p4em3,
#p4em3:checked ~ .next.p4em3,
#p4em4:checked ~ .prev.p4em4,
#p4em4:checked ~ .next.p4em4,
#p4em5:checked ~ .prev.p4em5,
#p4em5:checked ~ .next.p4em5,
#p4em6:checked ~ .prev.p4em6,
#p4em6:checked ~ .next.p4em6,
#p4em7:checked ~ .prev.p4em7,
#p4em7:checked ~ .next.p4em7,
#p4em8:checked ~ .prev.p4em8,
#p4e8:checked ~ .next.p4em8
{
   display: block;
}
#pmgts1:checked ~ .prev.pmgts1,
#pmgts1:checked ~ .next.pmgts1,
#pmgts2:checked ~ .prev.pmgts2,
#pmgts2:checked ~ .next.pmgts2,
#pmgts3:checked ~ .prev.pmgts3,
#pmgts3:checked ~ .next.pmgts3,
#pmgts4:checked ~ .prev.pmgts4,
#pmgts4:checked ~ .next.pmgts4,
#pmgts5:checked ~ .prev.pmgts5,
#pmgts5:checked ~ .next.pmgts5,
#pmgts6:checked ~ .prev.pmgts6,
#pmgts6:checked ~ .next.pmgts6,
#pmgts7:checked ~ .prev.pmgts7,
#pmgts7:checked ~ .next.pmgts7,
#pmgts8:checked ~ .prev.pmgts8,
#pmgts8:checked ~ .next.pmgts8
{
   display: block;
}
#pmteh1:checked ~ .prev.pmteh1,
#pmteh1:checked ~ .next.pmteh1,
#pmteh2:checked ~ .prev.pmteh2,
#pmteh2:checked ~ .next.pmteh2,
#pmteh3:checked ~ .prev.pmteh3,
#pmteh3:checked ~ .next.pmteh3,
#pmteh4:checked ~ .prev.pmteh4,
#pmteh4:checked ~ .next.pmteh4,
#pmteh5:checked ~ .prev.pmteh5,
#pmteh5:checked ~ .next.pmteh5,
#pmteh6:checked ~ .prev.pmteh6,
#pmteh6:checked ~ .next.pmteh6,
#pmteh7:checked ~ .prev.pmteh7,
#pmteh7:checked ~ .next.pmteh7,
#pmteh8:checked ~ .prev.pmteh8,
#pmteh8:checked ~ .next.pmteh8
{
   display: block;
}
#pmtseh1:checked ~ .prev.pmtseh1,
#pmtseh1:checked ~ .next.pmtseh1,
#pmtseh2:checked ~ .prev.pmtseh2,
#pmtseh2:checked ~ .next.pmtseh2,
#pmtseh3:checked ~ .prev.pmtseh3,
#pmtseh3:checked ~ .next.pmtseh3,
#pmtseh4:checked ~ .prev.pmtseh4,
#pmtseh4:checked ~ .next.pmtseh4,
#pmtseh5:checked ~ .prev.pmtseh5,
#pmtseh5:checked ~ .next.pmtseh5,
#pmtseh6:checked ~ .prev.pmtseh6,
#pmtseh6:checked ~ .next.pmtseh6,
#pmtseh7:checked ~ .prev.pmtseh7,
#pmtseh7:checked ~ .next.pmtseh7,
#pmtseh8:checked ~ .prev.pmtseh8,
#pmtseh8:checked ~ .next.pmtseh8
{
   display: block;
}